<link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
<div class="heading-crimemap">
	<h1 class="main-podnaslov">Kanton Sarajevo</h1>
	<h1 class="main-glavni-naslov">Crime Map</h1>
  <br>
</div>
 <div class="map"  style="height: 80vh;"
    leaflet
    [leafletOptions]="options"

    (leafletMapReady)="onMapReady($event)">
</div>
<leaflet-sidebar-control
    [map]="map"
    [options]="sidebarOptions"
></leaflet-sidebar-control>
<div id="sidebar" class="leaflet-sidebar collapsed">
  <!-- Nav tabs -->
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li><a href="#leg" role="tab" ><i class="fas fa-map" data-toggle="tooltip" title="Map Legend"></i></a></li>

    </ul>
  </div>


  <!-- Tab panes -->
  <div class="leaflet-sidebar-content">
    <div class="leaflet-sidebar-pane" id="leg" style="height:90%;">
      <h1 class="leaflet-sidebar-header">
        Layers
        <span class="leaflet-sidebar-close"><i class="fas fa-info-circle"></i></span>
      </h1>
      <span id="layercontrol"></span>

  </div>
</div>